In [1]:
from pathlib import Path
from datetime import date

import geopandas as gpd
from cropharvest.eo import EarthEngineExporter

## Export Nigeria labels

In [ ]:
#ee.Authenticate()

In [2]:
google_drive_exporter = EarthEngineExporter()

In [3]:
path = Path('../data/processed/nigeria/data.geojson')
gdf = gpd.read_file(path)
gdf

      is_crop        lat        lon  index                   geometry
0           0  13.062977   7.169715      0   POINT (7.16971 13.06298)
1           0   9.861582   5.029259      1    POINT (5.02926 9.86158)
2           0  10.442239  11.673885      2  POINT (11.67388 10.44224)
3           0   6.506252   6.584187      3    POINT (6.58419 6.50625)
4           0   7.980531   7.099293      4    POINT (7.09929 7.98053)
...       ...        ...        ...    ...                        ...
1822        0  11.505429   6.910431   1822   POINT (6.91043 11.50543)
1823        0  13.281881  13.412151   1823  POINT (13.41215 13.28188)
1824        0   8.912081   3.703954   1824    POINT (3.70395 8.91208)
1825        1   8.653739   4.971758   1825    POINT (4.97176 8.65374)
1826        1   9.802278  12.565271   1826   POINT (12.56527 9.80228)

[1827 rows x 5 columns]

In [4]:
start_date = date(2019, 4, 3)
end_date = date(2020, 3, 28)
gdf['start_date'] = start_date
gdf['end_date'] = end_date
gdf['export_identifier'] = gdf.apply(lambda row: f"{str(row.loc['index'])}_{str(row.loc['start_date'])}_{str(row.loc['end_date'])}", axis=1) # TODO: put '_nigeria_' after index
gdf

,is_crop,lat,lon,index,geometry,start_date,end_date,export_identifier
0,0,13.062977,7.169715,0,POINT (7.16971 13.06298),2019-04-03,2020-03-28,0_2019-04-03_2020-03-28
1,0,9.861582,5.029259,1,POINT (5.02926 9.86158),2019-04-03,2020-03-28,1_2019-04-03_2020-03-28
2,0,10.442239,11.673885,2,POINT (11.67388 10.44224),2019-04-03,2020-03-28,2_2019-04-03_2020-03-28
3,0,6.506252,6.584187,3,POINT (6.58419 6.50625),2019-04-03,2020-03-28,3_2019-04-03_2020-03-28
4,0,7.980531,7.099293,4,POINT (7.09929 7.98053),2019-04-03,2020-03-28,4_2019-04-03_2020-03-28
...,...,...,...,...,...,...,...,...
1822,0,11.505429,6.910431,1822,POINT (6.91043 11.50543),2019-04-03,2020-03-28,1822_2019-04-03_2020-03-28
1823,0,13.281881,13.412151,1823,POINT (13.41215 13.28188),2019-04-03,2020-03-28,1823_2019-04-03_2020-03-28
1824,0,8.912081,3.703954,1824,POINT (3.70395 8.91208),2019-04-03,2020-03-28,1824_2019-04-03_2020-03-28
1825,1,8.653739,4.971758,1825,POINT (4.97176 8.65374),2019-04-03,2020-03-28,1825_2019-04-03_2020-03-28
1826,1,9.802278,12.565271,1826,POINT (12.56527 9.80228),2019-04-03,2020-03-28,1826_2019-04-03_2020-03-28

In [ ]:
#google_drive_exporter.export_for_labels(labels=gdf)

## Train model with geowiki and nigeria data

In [18]:
from cropharvest.datasets import CropHarvest, CropHarvestLabels
from cropharvest.engineer import Engineer
from cropharvest.bands import BANDS, DYNAMIC_BANDS, STATIC_BANDS, REMOVED_BANDS

In [5]:
gdf

,is_crop,lat,lon,index,geometry,start_date,end_date,export_identifier
0,0,13.062977,7.169715,0,POINT (7.16971 13.06298),2019-04-03,2020-03-28,0_2019-04-03_2020-03-28
1,0,9.861582,5.029259,1,POINT (5.02926 9.86158),2019-04-03,2020-03-28,1_2019-04-03_2020-03-28
2,0,10.442239,11.673885,2,POINT (11.67388 10.44224),2019-04-03,2020-03-28,2_2019-04-03_2020-03-28
3,0,6.506252,6.584187,3,POINT (6.58419 6.50625),2019-04-03,2020-03-28,3_2019-04-03_2020-03-28
4,0,7.980531,7.099293,4,POINT (7.09929 7.98053),2019-04-03,2020-03-28,4_2019-04-03_2020-03-28
...,...,...,...,...,...,...,...,...
1822,0,11.505429,6.910431,1822,POINT (6.91043 11.50543),2019-04-03,2020-03-28,1822_2019-04-03_2020-03-28
1823,0,13.281881,13.412151,1823,POINT (13.41215 13.28188),2019-04-03,2020-03-28,1823_2019-04-03_2020-03-28
1824,0,8.912081,3.703954,1824,POINT (3.70395 8.91208),2019-04-03,2020-03-28,1824_2019-04-03_2020-03-28
1825,1,8.653739,4.971758,1825,POINT (4.97176 8.65374),2019-04-03,2020-03-28,1825_2019-04-03_2020-03-28
1826,1,9.802278,12.565271,1826,POINT (12.56527 9.80228),2019-04-03,2020-03-28,1826_2019-04-03_2020-03-28

In [6]:
path

PosixPath('../data/processed/nigeria/data.geojson')

In [12]:
tifs_folder_path = Path('../data/raw/earth_engine_nigeria_S1/')
tifs_path = list(tifs_folder_path.glob('*.tif'))

In [13]:
tifs_path[0]

PosixPath('../data/raw/earth_engine_nigeria_S1/1397_2019-04-03_2020-03-28.tif')

In [14]:
import rasterio

In [ ]:
with rasterio.open(tifs_path[0], 'r') as f:
    meta = f.meta
    data = f.read()

In [16]:
meta

{'driver': 'GTiff',
 'dtype': 'float64',
 'nodata': None,
 'width': 18,
 'height': 17,
 'count': 206,
 'crs': CRS.from_epsg(4326),
 'transform': Affine(8.983152841195215e-05, 0.0, 12.303326131300967,
        0.0, -8.983152841195215e-05, 9.316337980075145)}

In [19]:
BANDS

['VV',
 'VH',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B8A',
 'B9',
 'B11',
 'B12',
 'temperature_2m',
 'total_precipitation',
 'elevation',
 'slope',
 'NDVI']